.pagination {
  list-style-type: disc;
  display: inline-block;
  padding-left: 0;
  margin: 21px 0;
  border-radius: 4px;
  cursor: pointer;
}

.pagination > li {
  display: inline;
}

.pagination > li > a {
  position: relative;
  float: left;
  font-size: 15px;
  padding: 0 12px 0 12px;
  line-height: 2;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: -1px;
}

.pagination > .active > a {
  color: #fff;
  background-color: #000;
}

.pagination > li > a:hover {
  z-index: 2;
  color: #fff;
  background-color: #000;
  border-color: transparent;
}
